<h1>Give me URL and I'll lengthen it for you. <br \>
  Because I hate you. </h1>


<form name="input" action="/urls/create" method="POST">

Give me a URL Yo! <input type="text" name="url" />
<input type="submit" value="make it longer." />
</form>
<br \>


Make sure you add 'http://' in front of your link......

<h6> or you'll die.</h6>



